:root {
  --primaryA: rgb(38, 38, 87);
  --primaryB: #dae2f0;
  --secondaryA: rgb(177, 177, 180);
  --secondaryB: rgb(24, 24, 42);
  --secondaryC: white;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-image: url('images/bg_img04.png');
  /* background-color: rgba(221, 225, 238, 0.397); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: Georgia, 'Times New Roman', Times, serif;}

.small {
  font-weight: 300;
  font-style: italic;
}

