:root {
  --primaryA: rgb(38, 38, 87);
  --primaryB: rgb(67, 120, 206);
  --secondaryA: rgb(177, 177, 180);
  --secondaryB: rgb(24, 24, 42);
}


.nav-main {
    /* border: rgb(0, 255, 34) solid 2px; */
    background-color: var(--primaryA);
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    
  }
  
  .nav-menu {
    /* border: rgb(0, 255, 34) solid 2px; */
    display: flex;
    flex-wrap: wrap;
  }

  .nav-brand-main {
    /* border: rgb(0, 255, 34) solid 2px; */
    display: inline-flex;
    align-content: center;
    align-items: center;
    margin-left: 25px;
    /* padding: 7px; */
    /* border: red solid 2px; */
  }
  .nav-logo {
    margin-left: 20px;
    height: 75px;
    width: 75px;
    background-image: url('../../images/bc_logo2.png');
    background-position:center;
    background-size:5em;
    background-repeat: no-repeat;
    border-radius: 50%;
    padding-right: 20px;
  }

  .nav-brand-title {

    margin-left: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
  }
  
  .nav-menu {
    margin-right: 50px;
  }

  /* @media (max-width: 800px) {
    .form-main {

    }
  } */